// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cus-content-container {
  padding: 0 50px;
}

.cus-table-header {
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  th {
    border: none;
  }
}

.cus-card {
  padding: 0;
  margin-bottom: 20px;
}

.cus-table {
  width: 100%;
}

.link {
  background-color: red;
  width: 100%;
  height: 100%;
}

.clickable {
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
  }
}
