// Place all the styles related to the Invoices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.invoice-meta-line {
  display: flex;
  justify-content: space-between;
}

.invoice-meta-tag {
  padding-right: 12px;
}
