@font-face {
  font-family: "Museo Sans";
  src: asset-data-url("MuseoSans_500.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans";
  src: asset-data-url("MuseoSans_100.otf") format("opentype");
  font-weight: 100;
}

// #content {
//   background-image: asset-data-url("lulz.jpg");
// }

.customer-address {
  border: 1px solid black;
}
