@font-face {
  font-family: "Pangolin";
  src: asset-data-url("Pangolin-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

#content {
  background-image: asset-data-url("lulz.jpg");
}

.pangolin {
  font-family: "Pangolin";
}
