@font-face {
  font-family: "light100";
  src: asset-data-url("light100.ttf") format("truetype");
}

@font-face {
  font-family: "normal500";
  src: asset-data-url("normal500.ttf") format("truetype");
}

td,
th {
  padding: 10px 6px;
}

td {
  height: 50px;
}

.pdf-logo-container  {
  text-align: center;
  margin-bottom: 30px;
  img {
    height: 75px;
  }
}

.pdf-own-address {
  text-align: center;
  color: rgb(85, 160, 161);
  margin-bottom: 40px;
  .lol {
    font-weight: 100;
  }
}

.pdf-own-name {
  color: black;
}

.pdf-content {
  padding: 60px 60px;
  p {
    line-height: 6px;
    font-size: 20px;
  }
  h1 {
    font-size: 22px;
  }
}

.pdf-customer-address {
  // background-color: salmon;
}

.pdf-top-right-info {
  text-align: right;
}

.pdf-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  th,
  td {
    border: 1px solid black;
  }
  .thick-horiz-borders {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}

.bold {
  font-family: "normal500";
}

.light {
  font-family: "light100";
}

.pic {
  width: 300px;
  height: 300px;
}

.folding-mark {
  position: absolute;
  top: 460px;
  left: -15px;
  width: 50px;
  height: 1px;
  background-color: black;
}

.price-tag {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}

.hours-tag {
  text-align: center;
}
